@font-face {
  font-family: font;
  src: url(/assets/plumb-regular.otf) format('truetype');
  font-style: 'normal';
  font-weight: 400;
}
@font-face {
  font-family: font;
  src: url(/assets/plumb-bold.otf) format('truetype');
  font-style: 'normal';
  font-weight: 700;
}
@font-face {
  font-family: Asessorc;
  src: url(/assets/Nautilus.otf) format('truetype');
  font-style: 'normal';
  font-weight: 400;
}
@font-face {
  font-family: Naut;
  src: url(/assets/Asessorc.otf) format('truetype');
}

html {
  position: relative;
  min-height: 100%;
  font-family: 'Asessorc';
  font-wieght: bold;
  font-size: 60px;
}

.v-toolbar__content {
  background: url(/uploads/headerback.png);
  background-size: 100%;
}
.v-toolbar__title {
  font-family: Asessorc;
  font-size: 2rem !important;
  color: #714a71;
  text-align: center;
}
.v-toolbar__items {
  height: 60px !important;
}
.theme--dark.v-toolbar.v-sheet {
  background-color: #272727 !important;
}

header.v-sheet.theme--dark.v-toolbar * {
  color: white;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.breadcrumbs-item:not(:last-child):after {
  content: '>';
  margin-left: 5px;
}

.breadcrumbs-link {
  color: #0b56ea;
  text-decoration: none;
}

.breadcrumbs-link:not(span):hover {
  text-decoration: underline;
}

.breadcrumbs-link.current {
  color: #333;
}

@media (max-width: 1300px) {
  .v-toolbar__title {
    font-size: 1.2rem !important;
  }
}
.v-main__wrap {
  background: url(/uploads/blog/cropped-orig-min.png);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.3s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}
.search-result {
  background-color: beige;
}
input#search {
  width: 89%;
}

.contentarticle {
  min-height: 400px;
}

.zagolovok {
  text-decoration: none;
  color: #d1d667;
  background-color: rgb(98, 98, 199);
  padding: 3px;
  border-radius: 5px;
}
.bounce-enter-active {
  transform-origin: top;
  animation: bounce-in 0.8s;
}
.bounce-leave-active {
  transform-origin: top;
  animation: bounce-out 0.5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0);
  }
}

@media (max-width: 600px) {
  .ord1 {
    order: 1;
  }
  .ord2 {
    order: 2;
  }
  .ord3 {
    order: 3;
  }
}
@media (max-width: 800px) {
  header .v-toolbar__items {
    display: none;
  }
  .v-toolbar__items.navShow {
    display: flex;
  }
  .searchblock {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 400px) {
  #my-svg {
    width: 100%;
  }
  #my-svg1 {
    width: 95%;
  }
}
@media (min-width: 800px) and (max-width: 1120px) {
  .v-btn__content {
    font-size: 14px;
  }
  .v-toolbar__title {
    font-size: 14px;
  }
  #my-svg {
    width: 100%;
  }
  #my-svg1 {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .v-toolbar__content {
    background: none !important;
    background-size: 53%;
    background-position: 100px 43px;
  }
}
