@font-face{font-family:font; src:url(/assets/plumb-regular.otf) format("truetype"); font-style: 'normal'; font-weight:400;}
@font-face{font-family:font; src:url(/assets/plumb-bold.otf) format("truetype"); font-style: 'normal'; font-weight:700;}
html {margin:0; padding:0; font-family: font;}
.center { width:1500px; margin:0 auto;

}
header {
    background-color:rgba(0,0,0,0.9)
}
header .center {
    display: flex;
    justify-content: space-between;
    color:#fff;
}
header .center nav {
    display:flex;
}
.header-contacts-name {
    font-size: 22px;
}
header a {
    font-size:24px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}
.bounce-enter-active {
  transform-origin: top;
  animation: bounce-in 0.8s;
}
.bounce-leave-active {
  transform-origin: top;
  animation: bounce-out 0.5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0);
  }
}

.blog-block {
  display: flex;
  flex-wrap:wrap;
}
.blog-block .blog {
  width:25%;
}
nav a {
  color: inherit;
  text-decoration: none;
  margin-right: 23px;
}
a.nuxt-link-exact-active {
  color: #00c58e;
}